#Home_topbar
{
    background-color:#276195; z-index:999; position:fixed; top:0; left:1px; 
    height:50px;
    width:100%;
    _position:absolute;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    _top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); overflow:visible;
    bottom: 96px;
}
#Home_content
{
    width:auto;
    height:800px;
    border:solid;
    margin-top:52px;
    background-image:url(homeback.jpg);
    
    background-repeat:no-repeat;
}
#Home_info
{
    margin-top:100px;
    background-color:transparent;
    enable-background:inherit;
}
body {
}

