
.footer, .push {
	height: 40px;
}

.footer {
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
	color: white;
	font-size: 14px;
	background-color: #276195;
	text-align: right;
	background-image: url("/resources/noisy-texture.png");
	min-width: 900px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}

.footer a:link, .footer a:visited {
    color:white;
    text-decoration:none;
    font-size:12px;
    line-height:20px;
}

.footer a:hover {
    color:#276195;
}

.foot {
    text-align:center;
    width:300px;
    margin:0 auto;
}