
#Home_topbar {
	z-index: 999;
	position: fixed;
	top: -5px;
	left: 2px;
	height: 54px;
	width: 100%;
	_position: absolute;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	_top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);
	overflow: visible;
	bottom: 257px;
}

#Home_login_button {
	top: 0px;
	height: 54px;
	width: 100px;
}

#Home_topbar_else {
	width: 100px;
	height: 50px;
	float: left;
}

#Home_status {
	width: 650px;
	height: 54px;
	float: right;
	padding-left: 15px;
}

	#Home_status label {
		display: block;
		color: white;
	}

	#Home_status ul {
		padding-top: 3px;
		margin: 0;
		float: right;
		height: 0px;
		width: 600px;
		font-family: Arial;
		font-size: 40px;
	}

	#Home_status li {
		display: inline;
		float: left;
		width: 70px;
		height: 50px;
		padding-top: 10px;
	}

	#Home_status input:not([type=submit]) {
		margin-right: 10px;
		border: 1px solid rgba(0, 0, 0, 0.3);
		border-radius: 3px;
		box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 0px 0px rgba(250, 250, 250, 0.5);
	}

	#Home_status input[type=submit] {
		border: 1px solid rgba(0, 0, 0, 0.3);
		background: #64c8ef; /* Old browsers */
		background: -moz-linear-gradient(top, #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #64c8ef 0%,#00a2e2 100%); /* IE10+ */
		background: linear-gradient(to bottom, #64c8ef 0%,#00a2e2 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */
		color: #fff;
		padding: 5px 15px;
		margin-right: 0;
		border-radius: 3px;
		text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
	}


.Home_content {
	border-color: inherit;
	border-width: medium;
	left: 1px;
	margin-top: 36px;
	width: 100%;
	height: 1600px;
	position: absolute;
	background-repeat: no-repeat;
}

#Home_info {
	width: auto;
	background-color: transparent;
	enable-background: inherit;
}

	#Home_info h1 {
		font-family: Arial;
		font-size: 70px;
		color: #FFFFFF;
	}

#Home_search {
	padding-left: 50px;
	padding-top: 5px;
	padding-bottom: 5px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
}

#Home_top_photo {
	width: 100%;
	height: 300px;
	border: groove;
}

#Home_top_destination {
	border: groove;
	width: 100%;
	height: 300px;
}

#Home_logo {
	width: 164px;
	height: 90px;
}

#Home_top_blog {
	border: groove;
	width: 100%;
	height: 300px;
}

body {
}

.Home_search_bar {
	font-size: 32px;
	margin-left: 10%;
	padding-left: 20px;
	height: 45px;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.6);
	padding-top: 30px;
	width: 100%;
}

a:hover {
	vertical-align: central;
	background-color: inherit;
}

.button {
	margin-top: 2px;
	background-color: rgb(17, 163, 34);
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em 0 0 .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	text-align: center;
	width: 200px;
	height: 40px;
	bottom: 0px;
	float: left;
	margin-left: 1px;
}

	.button:hover {
		text-decoration: none;
	}

	.button:active {
		bottom: 0px;
	}

a {
	color: #fff;
}



.button_mid {
	margin-top: 2px;
	background-color: rgb(17, 163, 34);
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	text-align: center;
	width: 200px;
	height: 40px;
	bottom: 0px;
	float: left;
	margin-left: 1px;
}

	.button_mid:hover {
		text-decoration: none;
	}

	.button_mid:active {
		bottom: 0px;
	}


.button_l {
	margin-top: 2px;
	margin-left: 1px;
	background-color: rgb(17, 163, 34);
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: 0 .5em .5em 0;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	text-align: center;
	width: 200px;
	height: 40px;
	bottom: 0px;
	float: left;
}

	.button_l:hover {
		text-decoration: none;
	}

	.button_l:active {
		bottom: 0px;
	}


.button_r {
	margin-top: 2px;
	margin-left: 1px;
	background-color: rgb(17, 163, 34);
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: 0 .5em .5em 0;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	text-align: center;
	width: 40px;
	height: 40px;
	bottom: 0px;
	float: left;
}

	.button_r:hover {
		text-decoration: none;
	}

	.button_r:active {
		bottom: 0px;
	}




.search_text_box {
	margin-top: 0px;
	margin-left: 1px;
	width: 200px;
	height: 30px;
}


	.search_text_box input {
		width: 330px;
		height: 60px;
		padding: 10px 5px;
		float: left;
		font: bold 15px ‘lucida sans’， ‘trebuchet MS’， ‘Tahoma’;
		border: 0;
		background: #eee;
		border-radius: 3px 0 0 3px;
	}

		.search_text_box input:focus {
			outline: 0;
			background: #fff;
			box-shadow: 0 1px 2px rgba(0,0,0,.8) inset;
		}

		.search_text_box input::-webkit-input-placeholder {
			color: #999;
			font-weight: normal;
			font-style: italic;
		}

		.search_text_box input:-moz-placeholder {
			color: #999;
			font-weight: normal;
			font-style: italic;
		}

		.search_text_box input:-ms-input-placeholder {
			color: #999;
			font-weight: normal;
			font-style: italic;
		}E
