#Home_topbar
{
    background-color:#276195; z-index:999; position:fixed; top:0; left:1px; 
    height:50px;
    width:100%;
    _position:absolute;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    _top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); overflow:visible;
    bottom: 96px;
}
#Home_content
{
    border-style: solid;
    border-color: inherit;
    border-width: medium;
    width:auto;
    height:800px;
    margin-top:52px;
    background-image:url('../homeback.jpg');
    
    background-repeat:no-repeat;
}
#Home_info
{
    border-style:solid;
    margin-top:300px;
    width:auto;
    background-color:transparent;
    enable-background:inherit;
}
    #Home_info h1
{
    
    font-family: Arial;
    font-size: 40px;
    color: #FFFFFF;
}
body {
}

