body {
}
.singe_img_like
{
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
background-attachment: scroll;
background-clip: border-box;
background-color: black;
background-origin: padding-box;
background-position: 2px 0px;
background-size: auto;
color: rgb(104, 104, 104);
cursor: pointer;
direction: ltr;

bottom:0px;
font-family: Tahoma, Verdana, STHeiTi, simsun, sans-serif;
font-size: 12px;
height: 30px;
line-height: 40px;
text-align: center;
text-decoration: none;
width: 30px;
float:left;
}
.Clickcount
{
    font-family:'Meiryo UI';
    font-weight:700;
}
