#personal_info {
	height: 100px;
	width: 100%;
	border-bottom-style: groove;
}

.personal_info_col {
	width: 33%;
	height: 70px;
	float: left;
	text-align: center;
	padding-top: 30px;
}

	.personal_info_col span {
		color: #808080;
		font-family: Arial;
		font-size: 20px;
	}

#Personal_topbar_else {
	width: 700px;
	height: 50px;
	float: left;
}

#Personal_logo {
	width: 150px;
}

#Personal_login {
	float: right;
	border: groove;
}

#Personal_content {
	border-color: inherit;
	border-width: medium;
	left: 0px;
	margin-top: 50px;
	width: 100%;
	height: 1176px;
}

.personal_upload {
	padding-top: 60px;
	padding-left: 10%;
	padding-bottom: 10px;
	height: auto;
	width: 100%;
	display: none;
}

.bullet {
	width: 90%;
	height: 100px;
}

.personal_blog {
	margin-top: 5px;
	width: 100%;
	height: auto;
	float: left;
}

.personal_blog_row {
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 5px;
	margin-left: 15%;
	margin-right: 35%;
	width: 65%;
	height: auto;
	border-bottom-style: groove;
	background-color: white;
}

	.personal_blog_row span {
		word-break: break-all;
	}

.personal_image {
	margin-top: 5px;
	width: 100%;
	height: auto;
	float: left;
}

.personal_image_row {
	margin-left: 10px;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	height: 310px;
	width: 90%;
	border-top-style: groove;
	border-bottom-style: groove;
}

.personal_blog li {
	width: 100%;
	font-family: Arial;
	font-size: 20px;
}

.personal_blog span {
	width: 100%;
	font-family: MS PMincho;
	font-size: 20px;
}

.personal_blog a {
	font-size: 25px;
	font-weight: 900;
	font-family: Segoe Script;
	color: black;
	text-decoration: none;
}

.personal_blog_row_b {
	height: 100px;
	padding-left: 36%;
}

.blog_button {
	background-color: white;
	width: 100%;
	height: 100px;
}
.delete_pic
{

    width:80%;
    height:auto;
    border-style:solid;
}
.delete_pic_i
{
    margin-left:1px;
    margin-right:1px;
    margin-top:1px;
    margin-bottom:1px;
    float:left;
    width:10%;
    height:auto;
}