#personal_info
{
    height:100px;
    width:auto;
    border-style:solid;

}
#Personal_topbar_else
{
    width:700px;
    height:50px;
    float:left;
}

#Personal_logo {
    width:150px;
    
}

#Personal_login {
    float:right;
    border:groove;
}

#Personal_content
{
    border-style: groove;
    border-color: inherit;
    border-width: medium;
    left:0px;
    margin-top:50px;
    width:100%;
    height:1176px;
}


