body
{
}


#Personal_topbar
{
    background-color:#276195; z-index:999; position:fixed; top:0px; left:0px; 
    height:54px;
    width:1200px;
    _position:absolute;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    _top: expression_r(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight); 
    overflow:visible;
    bottom: 252px;
}
#Personal_topbar_else
{
    width:700px;
    height:50px;
    float:left;
}

#Personal_logo {
    width:150px;
    
}

#Personal_login {
    float:right;
    border:groove;
}

#Personal_content
{
    border-style: groove;
    border-color: inherit;
    border-width: medium;
    left:0px;
    margin-top:50px;
    width:100%;
    height:1176px;
}


