#myInstance1 {
	border: 2px dashed #fff;
	width: 100%;
}

.nicEdit-selected {
	border: 2px solid #0026ff !important;
}

.nicEdit-panel {
	background-color: #fff !important;
}

.nicEdit-button {
	background-color: #fff !important;
}

#Input_new {
	width: inherit;
	height: 500px;
}

#Input_title {
	font-family: Arial;
	font-size: 20px;
}

#Input_tags {
	margin-top: 5px;
	font-family: Arial;
	font-size: 20px;
}

#Access {
	margin-top: 5px;
	font-family: Arial;
	font-size: 20px;
}

.wb_buttonr {
	padding-left: 40%;
	margin-top: 30px;
	width: 10%;
	height: 20px;
	float: left;
}

.wb_buttonl {
	margin-top: 30px;
	width: 50%;
	height: 20px;
	float: left;
}
